anonymous_enable={{ anonymous_enable_param }}
write_enable={{ write_enable_param }}
anon_upload_enable={{ anon_upload_enable_param }}
anon_mkdir_write_enable={{ anon_mkdir_write_enable_param }}
anon_other_write_enable={{ anon_other_write_enable_param }}
dirmessage_enable={{ dirmessage_enable_param }}
connect_from_port_20={{ connect_from_port_20_param }}
chown_uploads={{ chown_uploads_param }}
chown_username={{ chown_username_param }}
anon_root={{ anon_root_param }}
delete_failed_uploads={{ delete_failed_uploads_param }}
anon_umask={{ anon_umask_param }}
chown_upload_mode={{ chown_upload_mode_param }}
file_open_mode={{ file_open_mode_param }}
